:root{
    --primary-color: hsl(185, 41%, 84%);
    --secondary-color: hsl(0, 0%, 100%);
    --terceira-cor:hsl(186, 14%, 43%);
    --quarta-cor: hsl(183, 100%, 15%);
    --quinta-cor:hsl(189, 41%, 97%);
}
